doctype html
html
  head
    title Single Page
    script(src="/build/react-full.js")
    script(src="/build/react-router.js")
    script(src="/build/jquery.js")

  body
    #content
    script(src="/build/single_page.js")