doctype html
html
  head
    title Single Page
    link(href="/build/bootstrap.min.css" type="text/css" rel="stylesheet")
    script(src="/build/jquery.js")
    script(src="/build/react-full.js")
    script(src="/build/react-router.js")
    script(src="/build/history.js")
    script(src="/build/redux.js")
    script(src="/build/react-redux.js")
    script(src="/build/bootstrap.min.js")

  body
    #content
    script(src="/build/single_page.js")